/* header y navbar */

.navbar {
  background-image: linear-gradient(rgba(50,50,50,1), rgba(0,0,0,0));
  z-index: 2;
}

.logo-nombre a {
  font-family: 'Monoton', cursive;
  color: #ff2d2d;
  font-size: 35px;
  padding-right: 15px;
}

.logo-nombre a:hover {
  font-family: 'Monoton', cursive;
  color: red;
  font-size: 35px;
  padding-right: 15px;
  text-decoration: none;
}

.navbar {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  align-items: center;
}

.li-navbar {
  padding: 10px 20px;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.li-navbar a {
  text-decoration: none;
  color: white;
}

.li-navbar a:hover{
  text-decoration: none;
  color: grey;
}

.buscador input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: 'Questrial', sans-serif;
  color: black;
  height: 20px;
  width: 200px;
}

.buscador button {
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.navbar-derecha {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 59.5%;
}

.navbar-derecha div {
  padding-right: 15px;
}

#flecha-abajo {
  color: white;
}

#user2 {
  color: white;
  margin: 0;
  padding-right: 15px;
}

span {
  position: relative;
  margin-left: 49%;
}

.uk-button-default {
  background-color: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
}

.login-derecha{
  margin-right: 20px;
  display: flex;
  align-items: center;
  position: relative;

}

.login {
  /* margin-right: 50px; */
  display: flex;
  align-items: center;
}

.form {
  text-align: center;
}

.button {
  color: white;
  background-color: red;
  border: none;
  padding: 14px 0;
  border-radius: 30px;
  width: 225px;
  font-size: 20px;
  position: relative;
  top: 10px;
}

.uk-button-default {
  background-color: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
}
.nombre-generos {
  font-family: 'Questrial', sans-serif;
  color: white;
  font-size: 4rem;
  margin-left: 3%;
}

div.resultados.uk-card.uk-card-default.uk-card-body.uk-width-1-5 {
  background: black;
}

.resultados a {
  color: grey;
}

/* footer */

footer {
  width: 100%;
  height: 50px;
  color: #ff2d2d;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 0px;
  font-family: 'Questrial', sans-serif;
}

footer img{
  max-width: 100px;
  max-height: 30px;
  margin-left: 80px;
}

footer button{
  background-color: rgba(0, 0, 0, 0);
  width: 80px;
  font-size: 16px;
  padding: 0;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 60px;
  top: 0;
  color: red;
  border: none;
  color: white;
  font-family: 'Questrial', sans-serif;
}

footer p{
  display: flex;
  align-items: center;
}


/* primera parte listado generos */

.generos-lista {
  display: flex;
  flex-wrap: wrap;
}

.generos-lista div {
  width: 25%;
}

.generos-lista div h2 {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  font-family: 'Questrial', sans-serif;
  color: white;
  text-align: center;
}


/* body normal */

body {
  background-color: black;
}

.grid-genero {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  /* right: 13px; */
  width: 94%;
  justify-content: space-around;

}
