body {
  background-color: black;
  width: 100%;
}
/* header */

.navbar {
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  z-index: 2;
  position: fixed;
}

header {
  background-image: url('../images/inicio.jpg');
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
  height: 100vh;
}

#logo-nombre a {
  font-family: 'Monoton', cursive;
  color: #ff2d2d;
  font-size: 35px;
}

.logo-nombre a:hover {
  font-family: 'Monoton', cursive;
  color: red;
  font-size: 35px;
  padding-right: 15px;
  text-decoration: none;
}

.navbar {
  list-style: none;
  padding: 10px 40px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.li-navbar {
  padding: 10px 20px;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.li-navbar a {
  text-decoration: none;
  color: white;
}

.li-navbar a:hover{
  text-decoration: none;
  color: grey;
}

.buscador input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: 'Questrial', sans-serif;
  color: black;
  height: 20px;
  width: 200px;
}

.buscador button {
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}


.navbar-derecha {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-derecha div {
  padding-right: 15px;
}

.inicio-h1 h1 {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 5rem;
  /*line-height: 96px;*/
  font-weight: bold;
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 50px;
}

.inicio-h2 h2{
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 60px;
  /*line-height: 96px;*/
  font-weight: bold;
  text-align: center;
  width: 90%;
  margin: auto;
}

.inicio-subscribe p {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
}

.inicio-subscribe a {
    color: white;
    background-color: #ff2d2d;
    border-radius: 30px;
    border: none;
    padding: 14px 0;
    width: 225px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-left: 42%;
    font-family: 'Questrial', sans-serif;
    display: inline-block;
    text-align: center;
  }

  .inicio-login p {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 40px;
  }

  .inicio-login a {
    color: white;
    background-color: #ff2d2d;
    border-radius: 30px;
    border: none;
    padding: 10px 0px;
    width: 200px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-left: 43%;
    font-family: 'Questrial', sans-serif;
    display: inline-block;
    text-align: center;
  }

#user2 {
  color: white;
  margin: 0;
  padding-right: 15px;
}

span {
  position: relative;
  margin-left: 49%;
}

.uk-button-default {
  background-color: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
}

.login-derecha{
  margin-right: 20px;
  display: flex;
  align-items: center;
  position: relative;

}

.preview {
  background-color: black;
  align-items: center;
}

.preview h1 {
  font-family: 'Questrial', sans-serif;
  color: white;
  text-align: center;
  padding: 5%;
}
/*
.populares {
  display: flex;
  position: absolute;
}

.mayorpuntaje {
  display: flex;
  position: absolute;
}

.onair {
  display: flex;
  position: absolute;
} */

.peliculas h2 {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  color: white;
  padding-left: 3.7%;
}

.peliculas div {
  width: 94%;
  align-items: center;
  margin-left: 3%;
}

.login {
  /* margin-right: 50px; */
  display: flex;
  align-items: center;
}

.form {
  text-align: center;
}

.button {
  color: white;
  background-color: red;
  border: none;
  padding: 14px 0;
  border-radius: 30px;
  width: 225px;
  font-size: 20px;
  position: relative;
  top: 10px;
}

/* footer */

footer {
  width: 100%;
  height: 50px;
  color: #ff2d2d;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  margin-top: 5rem;
  padding-bottom: 0px;
  font-family: 'Questrial', sans-serif;
}

footer img{
  max-width: 100px;
  max-height: 30px;
  margin-left: 80px;
}

footer button{
  background-color: rgba(0, 0, 0, 0);
  width: 80px;
  font-size: 16px;
  padding: 0;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 60px;
  top: 0;
  color: red;
  border: none;
  color: white;
  font-family: 'Questrial', sans-serif;
}

footer p{
  display: flex;
  align-items: center;
}

/* empiezan los @media */
@media (max-width: 550px) {

.li-navbar {
  font-size: 10px;
}
.inicio-h1 {
  font-size: 3rem;
  color: grey;
}
.header {
  height: 13vh;
}
.button {
  padding: 20px 0;
  width: 37%;
}

}

@media (max-width: 1030px) {
  /* como es originalmente */

}
