header {
  background-image: url('../images/inicio.jpg');
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
  height: 100vh;
}
.navbar {
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  z-index: 2;
}

#logo-nombre a {
  font-family: 'Monoton', cursive;
  color: #ff2d2d;
  font-size: 35px;
}

.logo-nombre a:hover {
  font-family: 'Monoton', cursive;
  color: red;
  font-size: 35px;
  padding-right: 15px;
  text-decoration: none;
}

.navbar {
  list-style: none;
  padding: 10px 40px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.li-navbar {
  padding: 10px 20px;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.li-navbar a {
  text-decoration: none;
  color: white;
}

.li-navbar a:hover{
  text-decoration: none;
  color: grey;
}

.buscador input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: 'Questrial', sans-serif;
  color: black;
  height: 20px;
  width: 200px;
}

.buscador button {
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

/* Fin del header */


/* Body */

body {
  background-color: black;
}

.peliculas h2 {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  color: white;
  padding-left: 3.7%;
}

.peliculas div {
  width: 94%;
  align-items: center;
  margin-left: 3%;
}

/* Fin del body */


/* Footer */

footer {
  width: 100%;
  height: 50px;
  color: #ff2d2d;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 0px;
  font-family: 'Questrial', sans-serif;
}

footer img{
  max-width: 100px;
  max-height: 30px;
  margin-left: 80px;
}

footer button{
  background-color: rgba(0, 0, 0, 0);
  width: 80px;
  font-size: 16px;
  padding: 0;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 60px;
  top: 0;
  color: red;
  border: none;
  color: white;
  font-family: 'Questrial', sans-serif;
}

footer p{
  display: flex;
  align-items: center;
}

/* Fin del footer */
